*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none !important;
}
select {
  -webkit-appearance: none !important;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

body{
  color: #424242;
  background: #EFEFEF;
}
.container{
  height: 95vh;
  padding: 0 20px;
}
.title-area{
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title{
  font-size: 104px;
  width: 100%;
}
.desc{
  font-size: 32px;
  width: 100%;
}
.input-area{
  flex-direction: column;
  justify-content: center;
  height: 35%;
  text-align: center;
  display: flex;
}
.select-area{
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}
#year,
#month,
#date,
#btn,
#reset{
  display: inline-block;
  color: #424242;
  height: 160px;
  font-size: 42px;
  border-radius: 24px;
  width: 100%;
}
#year{
  border: 10px solid #E02B67;
  text-indent: 32px;
  position: relative;
}
#month{
  border: 10px solid #3B9CDB;
  text-indent: 32px;
}
#date{
  border: 10px solid #76BA24;
  text-indent: 32px;
}
#btn{
  width: 80%;
  margin: 64px auto;
  border: 10px solid #A02ED5;
  transition: 0.5s;
}
#reset{
  height: 120px;
  border: 10px solid #424242;
  padding-left: 0;
  font-size: 48px;
  line-height: 48px;
  padding: 24px;
  width: 40%;
}
.triangle-area{
  position: relative;
}
.triangle-area::before {
  position: absolute;
  top: 4.8em;
  right: 1.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #424242;
  pointer-events: none;
}
.hidden{
  display: none !important;
}
.disabled{
  opacity: 0.5;
}
.active{
  background: #A02ED5 !important;
  border: 10px solid #fff !important;
  color: #fff !important;
  font-weight: bold;
  box-shadow: 0px 0px 0px 5px #A02ED5;
}
.result-area{
  padding: 24px;
  height: 25%;
  border: 10px solid #EE9428;
  border-radius: 24px;
  width: 80%;
  margin: 0 auto;
  background: #fff;
}
p{
  font-size: 44px;
}
.reset-btn-area{
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
  height: 5%;
  text-align: center;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
