*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-appearance: none !important;
}
#target{
  width: 550px;
  height: 550px;
  background: pink;
}
